<section class="section__hero">
	<img src="images/farm-2.jpg" class="img-responsive" />
	<div class="header">
		<h1 class="text__header--title">The Food Industry Intelligence Network</h1>
	</div>
</section>

<section class="section__text">
	<p class="text__paragraph">
		In June 2013, Professor Chris Elliott, Director of the Global Institute for Food Security at Queens University Belfast was asked by the Secretaries of State for Health and the Department for Environment, Food and Rural affairs (DEFRA) to conduct a review into the integrity and assurance of food supply networks; to consider issues which impact upon consumer confidence in the authenticity of food products, including any systematic failures in networks and systems for food safety and public health and to make Recommendations.
	</p>
	<p class="text__paragraph">
		The Food Industry Intelligence Network – FIIN has been formed in response to the recommendation in the ‘Elliott Report’ for Industry to establish a ‘safe haven’ to collect, collate, analyse and disseminate information and intelligence	</p>
	</p>
</section>
