<section class="section__hero">
	<img src="images/sheep.jpg" class="img-responsive" />
	<div class="header">
		<h1 class="text__header--title">About Us</h1>
	</div>
</section>

<section class="section__text">
	<p class="text__paragraph">The Food Industry Intelligence Network (FIIN) is a group of food businesses (‘members’) including retailers, manufacturers and food services companies. In joining the FIIN, members agree to submit information to the FIIN administrator on the authenticity testing they have carried out over a set period of time. The information is anonymised by the administrator and used to compile a report that is circulated to FIIN members.</p>
	
	<div class="panel panel-default" ng-repeat="question in questions">
		<div class="panel-heading">
			<h4 class="panel-title" ng-click="open = open == question.id ? null : question.id">
				{{question.question}}
			</h4>
		</div>
		<div class="panel-body" ng-if="open == question.id">
			{{question.answer}}
		</div>
	</div>
</section>