<section class="section__hero">
	<img src="images/farm-2.jpg" class="img-responsive" />
	<div class="header">
		<h1 class="text__header--title">Board</h1>
	</div>
</section>

<section class="section__text">
	<p class="text__paragraph">
		<span class="text--emphasis">Helen Sisson</span> <span class="text">Director and Co-Chair</span><br />
		<span class="text--emphasis">Paul Willgoss</span> <span class="text">Director and Co-Chair</span><br />
		<span class="text--emphasis">Paul Dobson</span> <span class="text">Director</span><br />
		<span class="text--emphasis">Gerry Thomas</span> <span class="text">Director</span><br />
		<span class="text--emphasis">David Young</span> <span class="text">Legal Counsel</span><br />
		<span class="text--emphasis">Professor Chris Elliot</span> <span class="text">Non-Executive Director</span>
	</p>
</section>