$nav__width: 210px;
$members-per-line: 5;
$theme__dark-colour: #4a3f37;

.img__logo {
	width: 200px;
	margin: 10px auto;
	display: block;
}

.img__member {
	width: 100%;
}

.nav {
	height: 100vh;
	width: $nav__width;
	display: inline-block;
	position: fixed;
	float: left;
	
	&.navbar-inverse {
		border-radius: 0;
	}
}

.text__nav {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	font-style: italic;
}

.nav-pills > li {
	&.active > a {
		&.link__nav {
			background: rgba(255, 255, 255, 0.2);
		}
	}
	
	a.link__nav {
		color: white;
		border-radius: 0;
		
		&:hover {
			background-color: black;
		}
	}
}

.container--body {
	display: inline-block;
	width: calc(100% - #{$nav__width});
	margin-left: $nav__width;
	background-image: url("../images/background.png");
	
	&.members {
		background-image: none;
		background: white;
	}
}

.container__member {
	display: inline-block;
	width: percentage(1/$members-per-line);
	padding: 10px;
}

.container__images {
	text-align: center;
}

.section__hero {
	position: relative;
}

.wallpaper {
	width: 100%;
	min-height: 300px;
}

.wallpaper__home {
	background:url('../images/farm.jpg') center center no-repeat;
}

.header {
	position: absolute;
	left: 0;
	bottom: 0;
}

.text__header--title {
	margin: 20px;
	color: white;
}

.section__text {
	margin: 0 15px;
}

.section__members {
	margin: 0 15px;
}

.section__header {
	display: block;
	width: 66%;
	border-bottom: 2px solid black;
}

.text__section-header {
	color: $theme__dark-colour;
	margin-bottom: 2px;
}

.text__paragraph {
	margin: 10px 0;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
}

.text--emphasis {
	font-weight: bold;
}